.about-mars {
  padding-top: 23px;

  background-image: url("../img/solar-system.svg");
  background-position: 70% 100%;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    padding-top: 46px;

    background-image: url("../img/solar-system-tablet.svg");
    background-position: 75% bottom;
    background-size: auto auto;
  }
}

.about-mars__content-wrapper {
  max-width: @desktop-width;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding-bottom: 150px;

  @media (min-width: @tablet-width) {
    padding-bottom: 240px;
  }
}

.about-mars__inner-wrapper {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: @tablet-width) {
    display: flex;

    padding-left: 24px;
    padding-right: 24px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.about-mars__info {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.about-mars__info:first-child {
  margin-right: 30px;

  @media (min-width: @desktop-width) {
    margin-right: 55px;
  }
}

.about-mars__info:last-child {
  @media (min-width: @tablet-width) {
    max-width: 385px;
  }
}

.about-mars__info-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #4d4d4d;

  margin: 0;
  margin-bottom: 13px;
}

.about-mars__info-header {
  .heading-h3();
}

.about-mars__header {
  padding-left: 15px;
  
  .heading-h2();

  @media (min-width: @tablet-width) {
    padding-left: 22px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.about-mars__header br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
