.about-journey {
  color: #ffffff;

  padding-top: 66px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: #1a1b43;
  background-image: url("../img/space-nebula.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.about-journey__header {
  margin-bottom: 54px;
}

.about-journey__video-wrapper {
  width: 291px;
  height: 172px;

  margin: 0 auto;
  margin-bottom: 50px;

  background-image: url("../img/walk-on-mars.png");
  background-repeat: no-repeat;
  background-size: cover;
}