.author {
  margin-bottom: 193px;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.author__text:nth-of-type(1) {
  @media (min-width: @tablet-width) {
    width: 500px;
  }
}

.author__quote {
  @media (min-width: @tablet-width) {
    width: 500px;

    margin-left: 0;
  }
}

.author__img {
  box-shadow: 30px -30px 0 -10px white,
              30px -30px 0 0 @main-color;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 10px;
    right: 80px;
  }
}