.burger {
  position: relative;
  width: 47px;
  height: 18px;

  background-color: transparent;

  border: none;
  outline: none;
  cursor: pointer;
}

.burger:hover .burger__bar,
.burger:focus .burger__bar {
  background-color: fade(white, 65%);

  &::before,
  &::after {
    background-color: fade(white, 65%);
  }
}

.burger:active .burger__bar {
  background-color: fade(white, 35%);

  &::before,
  &::after {
    background-color: fade(white, 35%);
  }
}

.main-navigation--opened .burger:hover .burger__bar,
.main-navigation--opened .burger:focus .burger__bar {
  background-color: transparent;
}

.burger__bar {
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  width: 100%;

  margin-top: -1px;

  background-color: white;

  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;

  &::before {
    width: 75%;
    height: 2px;
    position: absolute;
    content: "";
    transform: translate(-24px, -10px);   

    background-color: white;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
  }

  &::after {
    width: 40%;
    height: 2px;
    position: absolute;
    content: "";
    transform: translate(-24px, 10px);

    background-color: white;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
  }
}

.main-navigation--opened .burger__bar {
  background-color: transparent;

  &::before,
  &::after {
    width: 60%;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
  }

  &::before {
    transform: rotate(45deg) translate(-12px, 10px);
  }

  &::after {
    transform: rotate(-45deg) translate(-10px, -12px);
  }
}