.button {
  width: 288px;
  height: 57px;
  display: inline-block;
  vertical-align: baseline;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #c2529a;
  text-align: center;
  text-decoration: none;

  padding-top: 17px;
  margin: 0 auto;

  background-color: white;
  box-shadow: 0 0 27px rgba(255, 255, 255, 0.78);
  border-radius: 28px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    color: white;

    background-color: #c2529a;
    box-shadow: 0 0 77px rgba(255, 255, 255, 1);

    transform: scale(1.1);
  }

  &:active {
    background-color: fade(#c2529a, 80%);

    transform: scale(1);
  }
}