@mobile-width: 320px;
@tablet-width: 770px;
@desktop-width: 1170px;

@main-color: #e12457;

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset() {
  list-style: none;

  margin: 0 auto;
  padding: 0;
}

.heading-h2() {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  color: @main-color;

  margin: 0;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    font-size: 48px;
    line-height: 56px;

    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 64px;

    margin-bottom: 46px;
  }
}

.heading-h3() {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: black;

  margin: 0;
  margin-bottom: 30px;
}