.social-list {
  width: 170px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .list-reset();
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 30px;
  }
}