.video {
  width: 214px;
  height: 139px;
  position: relative;

  margin-bottom: 81px;

  background-image: url("../img/panorama-olimp.png");
  background-repeat: no-repeat;
  background-size: contain;

  box-shadow: 0 25px 38px rgba(0, 0, 0, 0.48);
  background-color: #1c256d;
  opacity: 0.7;
}

.video__description {
  position: absolute;
  top: 132px;
  left: 91px;

  margin: 0;
}