.about-journey {
  max-width: 520px;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 34px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #1a1b43;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 770px) {
  .about-journey {
    max-width: 1170px;
    padding-top: 70px;
    padding-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (min-width: 1170px) {
  .about-journey {
    max-width: 100%;
    padding: 0;
    padding-top: 100px;
  }
}
.no-webp .about-journey {
  background-image: url("../img/space-nebula.jpg");
}
@media (min-width: 770px) {
  .no-webp .about-journey {
    background-image: url("../img/space-nebula-tablet.jpg");
  }
}
@media (min-width: 1170px) {
  .no-webp .about-journey {
    background-image: url("../img/space-nebula-desktop.jpg");
  }
}
.webp .about-journey {
  background-image: url("../img/space-nebula.webp");
}
@media (min-width: 770px) {
  .webp .about-journey {
    background-image: url("../img/space-nebula-tablet.webp");
  }
}
@media (min-width: 1170px) {
  .webp .about-journey {
    background-image: url("../img/space-nebula-desktop.webp");
  }
}
@media (min-width: 770px) {
  .about-journey__inner-wrapper {
    width: 722px;
    margin: 0 auto;
  }
}
@media (min-width: 1170px) {
  .about-journey__inner-wrapper {
    width: 1170px;
  }
}
.about-journey__header {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin: 0;
  margin-bottom: 54px;
}
@media (min-width: 770px) {
  .about-journey__header {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 47px;
  }
}
@media (min-width: 1170px) {
  .about-journey__header {
    font-size: 57px;
    line-height: 63px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1170px) {
  .about-journey__header br {
    display: none;
  }
}
button.about-journey__button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -26px;
  margin-left: -26px;
}
.about-journey__video-wrapper {
  width: 291px;
  height: 172px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 46px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 770px) {
  .about-journey__video-wrapper {
    width: 718px;
    height: 361px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1170px) {
  .about-journey__video-wrapper {
    width: 1170px;
    height: 572px;
  }
}
.no-webp .about-journey__video-wrapper {
  background-image: url("../img/walk-on-mars.png");
}
@media (min-width: 770px) {
  .no-webp .about-journey__video-wrapper {
    background-image: url("../img/walk-on-mars-tablet.png");
  }
}
.webp .about-journey__video-wrapper {
  background-image: url("../img/walk-on-mars.webp");
}
@media (min-width: 770px) {
  .webp .about-journey__video-wrapper {
    background-image: url("../img/walk-on-mars-tablet.webp");
  }
}
.about-mars {
  padding-top: 23px;
  background-image: url("../img/solar-system.svg");
  background-position: 70% 100%;
  background-repeat: no-repeat;
}
@media (min-width: 770px) {
  .about-mars {
    padding-top: 46px;
    background-image: url("../img/solar-system-tablet.svg");
    background-position: 75% bottom;
    background-size: auto auto;
  }
}
.about-mars__content-wrapper {
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-bottom: 150px;
}
@media (min-width: 770px) {
  .about-mars__content-wrapper {
    padding-bottom: 240px;
  }
}
.about-mars__inner-wrapper {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 770px) {
  .about-mars__inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 1170px) {
  .about-mars__inner-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
.about-mars__info {
  margin-bottom: 40px;
}
@media (min-width: 770px) {
  .about-mars__info {
    width: 50%;
  }
}
.about-mars__info:first-child {
  margin-right: 30px;
}
@media (min-width: 1170px) {
  .about-mars__info:first-child {
    margin-right: 55px;
  }
}
@media (min-width: 770px) {
  .about-mars__info:last-child {
    max-width: 385px;
  }
}
.about-mars__info-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #4d4d4d;
  margin: 0;
  margin-bottom: 13px;
}
.about-mars__info-header {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: black;
  margin: 0;
  margin-bottom: 30px;
}
.about-mars__header {
  padding-left: 15px;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  color: #e12457;
  margin: 0;
  margin-bottom: 22px;
}
@media (min-width: 770px) {
  .about-mars__header {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1170px) {
  .about-mars__header {
    font-size: 60px;
    line-height: 64px;
    margin-bottom: 46px;
  }
}
@media (min-width: 770px) {
  .about-mars__header {
    padding-left: 22px;
  }
}
@media (min-width: 1170px) {
  .about-mars__header {
    padding-left: 0;
  }
}
@media (min-width: 770px) {
  .about-mars__header br {
    display: none;
  }
}
.author {
  padding-bottom: 193px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 770px) {
  .author {
    position: relative;
    padding-bottom: 95px;
    padding-left: 23px;
    padding-right: 23px;
  }
}
@media (min-width: 1170px) {
  .author {
    padding-left: 0;
    padding-right: 0;
  }
}
.author__header {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: black;
  margin: 0;
  margin-bottom: 30px;
}
.author__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #4d4d4d;
  margin: 0;
}
@media (min-width: 1170px) {
  .author__text {
    width: 60%;
  }
}
.author__text:nth-of-type(1) {
  margin-bottom: 70px;
}
@media (min-width: 770px) {
  .author__text:nth-of-type(1) {
    width: 63%;
    margin-bottom: 37px;
  }
}
.author__text:last-child {
  margin-top: 15px;
}
.author__quote {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  color: #e12457;
  margin: 0;
  margin-bottom: 40px;
}
.author__quote::before {
  width: 12px;
  height: 12px;
  position: absolute;
  content: "“";
  top: -10px;
  left: -10px;
  font-size: 42px;
  color: #e12457;
}
@media (min-width: 770px) {
  .author__quote {
    width: 70%;
    margin-bottom: 26px;
    margin-left: 0;
  }
}
@media (min-width: 1170px) {
  .author__quote {
    width: 60%;
  }
  .author__quote::before {
    top: -19px;
    left: -32px;
  }
}
.author__img {
  margin-left: 42px;
  margin-bottom: 20px;
  -webkit-box-shadow: 30px -30px 0 -10px white, 30px -30px 0 0 #e12457;
          box-shadow: 30px -30px 0 -10px white, 30px -30px 0 0 #e12457;
}
@media (min-width: 770px) {
  .author__img {
    position: absolute;
    top: 93px;
    right: 57px;
  }
}
@media (min-width: 1170px) {
  .author__img {
    width: 325px;
    height: 373px;
    top: 53px;
    right: 61px;
    -webkit-box-shadow: 61px -50px 0 -10px white, 61px -50px 0 0 #e12457;
            box-shadow: 61px -50px 0 -10px white, 61px -50px 0 0 #e12457;
  }
}
.button {
  width: 288px;
  height: 57px;
  display: inline-block;
  vertical-align: baseline;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #c2529a;
  text-align: center;
  text-decoration: none;
  padding-top: 17px;
  margin: 0 auto;
  background-color: white;
  -webkit-box-shadow: 0 0 27px rgba(255, 255, 255, 0.78);
          box-shadow: 0 0 27px rgba(255, 255, 255, 0.78);
  border-radius: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.button:hover,
.button:focus {
  color: white;
  background-color: #c2529a;
  -webkit-box-shadow: 0 0 77px #ffffff;
          box-shadow: 0 0 77px #ffffff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.button:active {
  background-color: rgba(194, 82, 154, 0.8);
  -webkit-transform: scale(1);
          transform: scale(1);
}
.button-down a {
  width: 59px;
  height: 59px;
  display: block;
  position: relative;
  background-color: rgba(225, 36, 87, 0.5);
  border-radius: 50%;
}
.button-down a::before {
  width: 16px;
  height: 2px;
  content: "";
  position: absolute;
  top: 31px;
  left: 15px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.button-down a::after {
  width: 14px;
  height: 2px;
  content: "";
  position: absolute;
  top: 32px;
  left: 26px;
  background-color: white;
  -webkit-box-shadow: 5px -5px 0 0 white;
          box-shadow: 5px -5px 0 0 white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media (min-width: 770px) {
  .button-down a {
    width: 75px;
    height: 75px;
  }
  .button-down a::before {
    top: 39px;
    left: 23px;
  }
  .button-down a::after {
    top: 40px;
    left: 34px;
  }
}
.button-down a:hover,
.button-down a:focus {
  background-color: rgba(225, 36, 87, 0.6);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.button-play {
  width: 52px;
  height: 52px;
  background-color: #e12457;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.button-play::after {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  left: 21px;
  top: 20px;
  border-top: 7px solid transparent;
  border-left: 15px solid white;
  border-bottom: 7px solid transparent;
}
.button-play:hover,
.button-play:focus {
  background-color: rgba(225, 36, 87, 0.7);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.button-play:active {
  background-color: rgba(225, 36, 87, 0.35);
}
.button-play span {
  display: none;
}
@media (min-width: 770px) {
  .button-play span {
    width: 125px;
    display: block;
    position: absolute;
    left: 67px;
    top: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: white;
  }
}
.burger {
  position: relative;
  width: 47px;
  height: 18px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.burger:hover .burger__bar,
.burger:focus .burger__bar {
  background-color: rgba(255, 255, 255, 0.45);
}
.burger:hover .burger__bar::before,
.burger:focus .burger__bar::before,
.burger:hover .burger__bar::after,
.burger:focus .burger__bar::after {
  background-color: rgba(255, 255, 255, 0.45);
}
.burger:active .burger__bar {
  background-color: rgba(255, 255, 255, 0.25);
}
.burger:active .burger__bar::before,
.burger:active .burger__bar::after {
  background-color: rgba(255, 255, 255, 0.25);
}
.main-navigation--opened .burger:hover .burger__bar,
.main-navigation--opened .burger:focus .burger__bar {
  background-color: transparent;
}
.burger__bar {
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  width: 100%;
  margin-top: -1px;
  background-color: white;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
.burger__bar::before {
  width: 75%;
  height: 2px;
  position: absolute;
  left: 0;
  content: "";
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  background-color: white;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
.burger__bar::after {
  width: 40%;
  height: 2px;
  position: absolute;
  left: 0;
  content: "";
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  background-color: white;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
.main-navigation--opened .burger__bar {
  background-color: transparent;
}
.main-navigation--opened .burger__bar::before,
.main-navigation--opened .burger__bar::after {
  width: 60%;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
.main-navigation--opened .burger__bar::before {
  -webkit-transform: rotate(45deg) translate(-12px, 10px);
          transform: rotate(45deg) translate(-12px, 10px);
}
.main-navigation--opened .burger__bar::after {
  -webkit-transform: rotate(-45deg) translate(-10px, -12px);
          transform: rotate(-45deg) translate(-10px, -12px);
}
.features-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  border-left: 3px solid #e12457;
}
.features-list::after {
  width: 16px;
  height: 16px;
  position: absolute;
  content: "";
  bottom: 0;
  left: -10px;
  -webkit-box-shadow: inset 0 0 0 4px #e12457, inset 0 0 0 8px white;
          box-shadow: inset 0 0 0 4px #e12457, inset 0 0 0 8px white;
  border-radius: 50%;
}
@media (min-width: 770px) and (max-width: 1169px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
    border: none;
  }
  .features-list::after {
    top: -5px;
    left: 693px;
  }
  .features-list::before {
    width: 698px;
    height: 3px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e12457;
  }
}
.features-list__item {
  padding-left: 28px;
}
.features-list__item:not(:last-child) {
  padding-bottom: 40px;
}
@media (min-width: 770px) and (max-width: 1169px) {
  .features-list__item:last-child {
    padding-bottom: 40px;
  }
}
.features-list__text-header {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: black;
  margin: 0;
  margin-bottom: 30px;
  margin-bottom: 20px;
}
.features-list__text-button {
  width: 160px;
  height: 46px;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-top: 14px;
  background-color: #e12457;
  border-radius: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.features-list__text-button:hover,
.features-list__text-button:focus {
  background-color: rgba(225, 36, 87, 0.75);
  -webkit-box-shadow: 0 0 27px rgba(197, 41, 176, 0.78);
          box-shadow: 0 0 27px rgba(197, 41, 176, 0.78);
}
.features-list__text-button:active {
  background-color: rgba(225, 36, 87, 0.45);
  -webkit-box-shadow: 0 0 27px rgba(197, 41, 176, 0.78);
          box-shadow: 0 0 27px rgba(197, 41, 176, 0.78);
}
.features-list__item img {
  margin-bottom: 25px;
}
@media (min-width: 770px) and (max-width: 1169px) {
  .features-list__item img {
    width: 719px;
    height: 334px;
  }
}
@media (min-width: 1170px) {
  .features-list__item img {
    width: 985px;
    height: 457px;
  }
}
.features-list__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #4d4d4d;
  margin: 0;
  margin-bottom: 35px;
}
@media (min-width: 1170px) {
  .features-list__text {
    width: 940px;
  }
}
.features-list__inner-wrapper {
  display: none;
}
@media (min-width: 1170px) {
  .features-list__inner-wrapper {
    padding-left: 117px;
  }
}
.features-list__item input:checked ~ .features-list__inner-wrapper {
  display: block;
}
.features-list__item label {
  width: 250px;
  min-height: 23px;
  display: block;
  position: relative;
  font-size: 0;
  margin-bottom: 25px;
  padding-left: 47px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.features-list__item label::before {
  width: 30px;
  height: 23px;
  position: absolute;
  content: "";
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
}
.features-list__item label::after {
  width: 16px;
  height: 16px;
  position: absolute;
  content: "";
  top: -1px;
  left: -38px;
  z-index: 10;
  -webkit-box-shadow: inset 0 0 0 4px #e12457, inset 0 0 0 8px white;
          box-shadow: inset 0 0 0 4px #e12457, inset 0 0 0 8px white;
  border-radius: 50%;
}
@media (min-width: 770px) and (max-width: 1169px) {
  .features-list__item label::after {
    top: -35px;
    left: 0;
  }
}
.features-list__item:last-child label::after {
  top: 7px;
}
@media (min-width: 770px) and (max-width: 1169px) {
  .features-list__item:last-child label::after {
    top: -35px;
  }
}
.features-list__item--icon-cup::before {
  background-image: url("../img/teacup.svg");
}
.features-list__item--icon-helmet::before {
  background-image: url("../img/helmet.svg");
}
label.features-list__item--icon-search::before {
  width: 22px;
  height: 31px;
  top: -5px;
  background-image: url("../img/microscope.svg");
}
.features-list__item--icon-photo::before {
  background-image: url("../img/photo.svg");
}
label.features-list__item--icon-agro::before {
  width: 26px;
  height: 27px;
  top: -2px;
  background-image: url("../img/leaves.svg");
}
.features-list__item input:checked ~ label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #e12457;
}
.features-list__item input:checked ~ label::after {
  background-color: #e12457;
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media (min-width: 1170px) {
  .features-list__item input:checked ~ label {
    text-align: end;
    padding-left: 0;
    padding-right: 30px;
    -webkit-transform: rotate(-90deg) translate(-115px, -110px);
            transform: rotate(-90deg) translate(-115px, -110px);
  }
  .features-list__item input:checked ~ label::before {
    left: 230px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .features-list__item input:checked ~ label::after {
    top: -40px;
    left: 240px;
  }
}
@media (min-width: 770px) and (max-width: 1169px) {
  .features-list__item label {
    width: 100%;
  }
  .features-list__item {
    padding-left: 0;
    float: right;
  }
  .features-list img {
    width: 719px;
    height: 334px;
  }
  .features-list__item:nth-child(1) input:checked ~ .features-list__inner-wrapper {
    margin-right: -188px;
  }
  .features-list__item:nth-child(2) input:checked ~ .features-list__inner-wrapper {
    margin-left: -47px;
    margin-right: -141px;
  }
  .features-list__item:nth-child(3) input:checked ~ .features-list__inner-wrapper {
    margin-left: -94px;
    margin-right: -94px;
  }
  .features-list__item:nth-child(4) input:checked ~ .features-list__inner-wrapper {
    margin-left: -141px;
    margin-right: -47px;
  }
  .features-list__item:nth-child(5) input:checked ~ .features-list__inner-wrapper {
    margin-left: -188px;
  }
}
@media (min-width: 1170px) {
  .features-list__item:nth-child(1) input:checked ~ .features-list__inner-wrapper {
    margin-top: -47px;
  }
  .features-list__item:nth-child(2) input:checked ~ .features-list__inner-wrapper {
    margin-top: -135px;
  }
  .features-list__item:nth-child(3) input:checked ~ .features-list__inner-wrapper {
    margin-top: -223px;
  }
  .features-list__item:nth-child(4) input:checked ~ .features-list__inner-wrapper {
    margin-top: -311px;
  }
  .features-list__item:nth-child(5) input:checked ~ .features-list__inner-wrapper {
    margin-top: -399px;
  }
}
.flying-cost {
  max-width: 520px;
  position: relative;
  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 53px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #a12d75;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 770px) {
  .flying-cost {
    max-width: 721px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 33px;
    padding-bottom: 59px;
    background-size: 100% 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (min-width: 1170px) {
  .flying-cost {
    max-width: 1170px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 58px;
    padding-bottom: 52px;
    padding-left: 398px;
    padding-right: 63px;
  }
}
.no-webp .flying-cost {
  background-image: url("../img/start-rocket.jpg");
}
@media (min-width: 770px) {
  .no-webp .flying-cost {
    background-image: url("../img/start-rocket-tablet.jpg");
  }
}
@media (min-width: 1170px) {
  .no-webp .flying-cost {
    background-image: url("../img/start-rocket-desktop.jpg");
  }
}
.webp .flying-cost {
  background-image: url("../img/start-rocket.webp");
}
@media (min-width: 770px) {
  .webp .flying-cost {
    background-image: url("../img/start-rocket-tablet.webp");
  }
}
@media (min-width: 1170px) {
  .webp .flying-cost {
    background-image: url("../img/start-rocket-desktop.webp");
  }
}
.flying-cost__header {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin: 0;
  margin-bottom: 18px;
}
@media (min-width: 770px) {
  .flying-cost__header {
    width: 310px;
    margin-left: 383px;
  }
}
@media (min-width: 1170px) {
  .flying-cost__header {
    margin-bottom: 25px;
    margin-left: 0;
  }
}
.flying-cost__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: white;
  margin: 0;
  margin-bottom: 35px;
}
@media (min-width: 770px) {
  .flying-cost__text {
    width: 310px;
    margin-left: 383px;
    margin-bottom: 56px;
  }
}
@media (min-width: 1170px) {
  .flying-cost__text {
    width: 612px;
    margin-bottom: 37px;
    margin-left: 0;
  }
}
.flying-cost__text b {
  font-weight: 700;
}
.flying-cost__img {
  position: absolute;
  top: -146px;
  left: 50%;
  margin-left: -145px;
}
@media (min-width: 770px) {
  .flying-cost__img {
    width: 253px;
    height: 253px;
    top: -46px;
    left: 50px;
    margin: 0;
  }
}
@media (min-width: 1170px) {
  .flying-cost__img {
    width: 310px;
    height: 310px;
    top: -27px;
    left: 27px;
    margin: 0;
  }
}
.flying-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 770px) {
  .flying-order {
    width: 655px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1170px) {
  .flying-order {
    width: 100%;
  }
}
.flying-order__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}
@media (min-width: 770px) {
  .flying-order__text {
    width: 431px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 1170px) {
  .flying-order__text {
    width: 452px;
  }
}
.flying-order__text b {
  font-size: 60px;
  font-weight: 100;
  line-height: 60px;
  color: white;
  margin-bottom: 20px;
}
@media (min-width: 770px) {
  .flying-order__text b {
    margin-bottom: 0;
  }
}
.flying-order__text span {
  width: 220px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin-bottom: 43px;
  padding-bottom: 6px;
  border-bottom: 2px solid white;
}
@media (min-width: 770px) {
  .flying-order__text span {
    margin-bottom: 0;
  }
}
@media (min-width: 1170px) {
  .flying-order__text span {
    margin-top: 10px;
  }
}
@media (min-width: 770px) {
  .flying-order__button-order {
    width: 199px;
    margin: 0;
  }
}
.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin: 0;
  margin-left: 10px;
}
.footer-logo__text span {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  text-transform: lowercase;
}
.input-arrow {
  width: 8px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 32px;
  font-size: 0;
  margin-top: -7px;
}
.input-arrow::after,
.input-arrow::before {
  width: 2px;
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
}
.input-arrow::before {
  height: 12px;
  top: -3px;
  left: 1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.input-arrow::after {
  height: 10px;
  bottom: -1px;
  left: 1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media (min-width: 770px) {
  .input-arrow {
    height: 69px;
    width: 20px;
    position: relative;
    top: 0;
    margin-top: 0;
    margin-left: 20px;
    margin-right: auto;
  }
  .input-arrow::before {
    height: 12px;
    top: 50%;
    left: 1px;
    margin-top: -12px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .input-arrow::after {
    height: 10px;
    bottom: 50%;
    left: 1px;
    margin-bottom: -7px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@media (max-width: 769px) {
  .list-info__item input:checked ~ .input-arrow {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .list-info__item input:checked ~ .input-arrow::after,
  .list-info__item input:checked ~ .input-arrow::before {
    background-color: white;
  }
}
@media (min-width: 770px) {
  .list-info__item input:checked ~ .input-arrow::before {
    -webkit-box-shadow: 5px 5px 0 0 rgba(255, 255, 255, 0.5), 10px 10px 0 0 rgba(255, 255, 255, 0.2);
            box-shadow: 5px 5px 0 0 rgba(255, 255, 255, 0.5), 10px 10px 0 0 rgba(255, 255, 255, 0.2);
  }
  .list-info__item input:checked ~ .input-arrow::after {
    -webkit-box-shadow: 5px -5px 0 0 rgba(255, 255, 255, 0.5), 10px -10px 0 0 rgba(255, 255, 255, 0.2);
            box-shadow: 5px -5px 0 0 rgba(255, 255, 255, 0.5), 10px -10px 0 0 rgba(255, 255, 255, 0.2);
  }
  .list-info__item input:checked ~ .input-arrow::after,
  .list-info__item input:checked ~ .input-arrow::before {
    width: 2px;
    content: "";
    position: absolute;
    background-color: white;
  }
}
.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin: 0;
  margin-left: 10px;
}
@media (min-width: 770px) {
  .header-logo__text {
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    margin-left: 12px;
  }
}
@media (min-width: 1170px) {
  .header-logo__text {
    margin-left: 15px;
  }
}
.header-logo a {
  height: 39px;
}
@media (min-width: 770px) {
  .header-logo a {
    height: 48px;
  }
}
.header-logo__text span {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-transform: lowercase;
}
@media (min-width: 770px) {
  .header-logo__text span {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
  }
}
.header-wrapper {
  background-color: #a12d75;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (min-width: 1170px) {
  .header-wrapper {
    background-size: cover;
  }
}
.no-webp .header-wrapper {
  background-image: url("../img/header-bg.jpg");
}
@media (min-width: 770px) {
  .no-webp .header-wrapper {
    background-image: url("../img/header-bg-tablet.jpg");
  }
}
@media (min-width: 1170px) {
  .no-webp .header-wrapper {
    background-image: url("../img/header-bg-desktop.jpg");
  }
}
.webp .header-wrapper {
  background-image: url("../img/header-bg.webp");
}
@media (min-width: 770px) {
  .webp .header-wrapper {
    background-image: url("../img/header-bg-tablet.webp");
  }
}
@media (min-width: 1170px) {
  .webp .header-wrapper {
    background-image: url("../img/header-bg-desktop.webp");
  }
}
.journey-preparation {
  margin-bottom: 47px;
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 770px) {
  .journey-preparation {
    width: 340px;
  }
}
@media (min-width: 1170px) {
  .journey-preparation {
    width: 670px;
  }
}
.journey-preparation__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
}
.journey-preparation a {
  display: inline-block;
  vertical-align: baseline;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}
.journey-preparation a:hover,
.journey-preparation a:focus {
  color: #e12457;
  border-bottom: 1px solid #e12457;
}
.journey-preparation a:active {
  color: rgba(225, 36, 87, 0.5);
  border-bottom: 1px solid rgba(225, 36, 87, 0.5);
}
.list-properties {
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.list-properties__item {
  width: 215px;
  display: block;
  position: relative;
  padding-top: 39px;
  padding-bottom: 37px;
  padding-right: 36px;
  padding-left: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.list-properties__item:not(:last-child)::after {
  width: 1px;
  height: 49px;
  content: "";
  position: absolute;
  top: 63px;
  right: 0;
  background-color: rgba(225, 36, 87, 0.15);
}
@media (min-width: 770px) {
  .list-properties__item {
    padding-top: 45px;
    padding-bottom: 54px;
  }
}
.list-properties__item:first-child {
  width: 160px;
  padding-left: 20px;
  padding-right: 32px;
}
@media (min-width: 1170px) {
  .list-properties__item:first-child {
    padding-left: 3px;
  }
}
.list-properties__item:last-child {
  width: 160px;
  padding-right: 24px;
}
@media (min-width: 1170px) {
  .list-properties__item:last-child {
    padding-right: 3px;
  }
}
.list-properties__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  color: #4d4d4d;
  margin: 0;
}
.list-properties__text b {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #e12457;
  margin-bottom: 10px;
}
@media (min-width: 770px) {
  .list-properties__text b {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
  }
}
.list-info {
  position: relative;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 770px) {
  .list-info {
    min-height: 555px;
  }
}
.list-info__text {
  display: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
@media (min-width: 770px) {
  .list-info__text {
    width: 425px;
    margin-left: auto;
  }
}
@media (min-width: 1170px) {
  .list-info__text {
    width: 760px;
  }
}
@media (min-width: 770px) {
  .list-info__input {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.list-info__text-header {
  display: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 35px;
}
@media (min-width: 770px) {
  .list-info__text-header {
    display: block;
  }
}
.list-info__item {
  position: relative;
}
@media (min-width: 770px) {
  .list-info__item {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.list-info__item label {
  width: 200px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #908bb1;
  padding-top: 20px;
  padding-bottom: 25px;
}
@media (min-width: 770px) {
  .list-info__item label {
    width: 190px;
    position: absolute;
    top: 0;
  }
}
@media (min-width: 770px) {
  .list-info__item:nth-child(2) label,
  .list-info__item:nth-child(2) .list-info__input {
    top: 69px;
  }
  .list-info__item:nth-child(3) label,
  .list-info__item:nth-child(3) .list-info__input {
    top: 138px;
  }
  .list-info__item:nth-child(4) label,
  .list-info__item:nth-child(4) .list-info__input {
    top: 227px;
  }
  .list-info__item .list-info__input {
    left: 210px;
  }
}
.list-info__item input:checked ~ label {
  font-weight: 700;
  color: white;
}
.list-info__item input:checked ~ .list-info__text {
  display: block;
}
.logo__outer-round {
  width: 39px;
  height: 39px;
  border: 3px solid #e12457;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation-name: spinlogo;
          animation-name: spinlogo;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.logo__outer-round::after {
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  content: "";
  background-color: #e12457;
  border-radius: 50%;
}
@media (min-width: 770px) {
  .logo__outer-round {
    width: 48px;
    height: 48px;
  }
  .logo__outer-round::after {
    width: 9px;
    height: 9px;
  }
}
.logo__middle-round {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -13px;
  margin-top: -13px;
  border: 3px solid #e12457;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation-name: spinlogo;
          animation-name: spinlogo;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.logo__middle-round::after {
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  content: "";
  top: -3px;
  background-color: #e12457;
  border-radius: 50%;
}
@media (min-width: 770px) {
  .logo__middle-round {
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
  }
  .logo__middle-round::after {
    width: 10px;
    height: 10px;
  }
}
.logo__inner-round {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 3px solid #e12457;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (min-width: 770px) {
  .logo__inner-round {
    width: 15px;
    height: 15px;
  }
}
.logo--footer .logo__outer-round {
  border-color: white;
}
.logo--footer .logo__outer-round::after {
  background-color: white;
}
.logo--footer .logo__middle-round {
  border-color: white;
}
.logo--footer .logo__middle-round::after {
  background-color: white;
}
.logo--footer .logo__inner-round {
  border-color: white;
}
@-webkit-keyframes spinlogo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinlogo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 90px;
  padding-top: 18px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 770px) {
  .main-navigation {
    position: relative;
    margin-bottom: 190px;
    padding: 24px;
    padding-bottom: 0;
  }
}
@media (min-width: 1170px) {
  .main-navigation {
    margin-bottom: 180px;
    padding: 0;
    padding-top: 37px;
  }
}
.main-navigation__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.main-navigation__label {
  display: none;
  margin: 0;
}
@media (min-width: 770px) {
  .main-navigation__label {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.45px;
    margin-left: auto;
    margin-right: 18px;
  }
}
.main-navigation--nojs .main-navigation__toggle {
  display: none;
}
.mars-properties {
  background-color: #fff5f8;
  overflow-x: scroll;
}
@media (min-width: 1265px) {
  .mars-properties {
    overflow-x: hidden;
  }
}
.organization-of-life {
  padding-top: 42px;
  padding-bottom: 40px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 770px) {
  .organization-of-life {
    width: 770px;
    margin: 0 auto;
    padding-top: 53px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (min-width: 1170px) {
  .organization-of-life {
    width: 1170px;
  }
}
.organization-of-life__header {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  color: #e12457;
  margin: 0;
  margin-bottom: 22px;
  font-size: 34px;
  margin-bottom: 30px;
}
@media (min-width: 770px) {
  .organization-of-life__header {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1170px) {
  .organization-of-life__header {
    font-size: 60px;
    line-height: 64px;
    margin-bottom: 46px;
  }
}
.page-footer {
  color: white;
  padding-top: 41px;
  padding-bottom: 31px;
  background-color: #901c63;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (min-width: 770px) {
  .page-footer {
    padding-top: 73px;
  }
}
@media (min-width: 1170px) {
  .page-footer {
    padding-top: 110px;
  }
}
.no-webp .page-footer {
  background-image: url("../img/footer-bg.jpg");
}
@media (min-width: 770px) {
  .no-webp .page-footer {
    background-image: url("../img/footer-bg-tablet.jpg");
  }
}
@media (min-width: 1170px) {
  .no-webp .page-footer {
    background-image: url("../img/footer-bg-desktop.jpg");
  }
}
.webp .page-footer {
  background-image: url("../img/footer-bg.webp");
}
@media (min-width: 770px) {
  .webp .page-footer {
    background-image: url("../img/footer-bg-tablet.webp");
  }
}
@media (min-width: 1170px) {
  .webp .page-footer {
    background-image: url("../img/footer-bg-desktop.webp");
  }
}
@media (min-width: 770px) {
  .page-footer__content-wrapper {
    width: 770px;
    margin: 0 auto;
  }
}
@media (min-width: 1170px) {
  .page-footer__content-wrapper {
    width: 1170px;
  }
}
.page-footer__header {
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  margin: 0;
  margin-bottom: 30px;
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 770px) {
  .page-footer__header {
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 63px;
    padding-left: 26px;
    padding-right: 26px;
  }
}
@media (min-width: 1170px) {
  .page-footer__header {
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 67px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1170px) {
  .page-footer__header br {
    display: none;
  }
}
.page-footer__inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 770px) {
  .page-footer__inner-wrapper {
    width: 720px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
  }
}
@media (min-width: 1170px) {
  .page-footer__inner-wrapper {
    width: 1170px;
  }
}
.page-footer__social-label {
  display: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.35px;
  opacity: 0.5;
  margin: 0;
}
@media (min-width: 770px) {
  .page-footer__social-label {
    display: block;
  }
}
.page-header {
  max-width: 520px;
  color: white;
  margin: 0 auto;
  padding-bottom: 27px;
}
@media (min-width: 770px) {
  .page-header {
    max-width: 800px;
    padding-bottom: 37px;
  }
}
@media (min-width: 1170px) {
  .page-header {
    max-width: 1140px;
    padding-bottom: 69px;
  }
}
.page-header__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header__lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.37px;
  margin: 0 auto;
  margin-bottom: 52px;
}
@media (min-width: 770px) {
  .page-header__lead {
    font-size: 30px;
    font-weight: 200;
    line-height: 32px;
    letter-spacing: 0.76px;
    margin-bottom: 95px;
  }
}
@media (min-width: 1170px) {
  .page-header__lead {
    font-size: 35px;
    font-weight: 200;
    line-height: 42px;
    letter-spacing: 0.76px;
    margin-bottom: 50px;
  }
}
.page-header__lead span {
  text-align: center;
  margin-bottom: 8px;
}
@media (min-width: 770px) {
  .page-header__lead span {
    margin-bottom: 0;
  }
}
.page-header__lead b:first-child {
  letter-spacing: 0.71px;
}
@media (min-width: 770px) {
  .page-header__lead b:first-child {
    letter-spacing: 1.48px;
  }
}
.page-header__lead b:nth-child(2) {
  font-size: 68px;
  font-weight: 900;
  line-height: 68px;
  letter-spacing: 2.12px;
  text-align: center;
}
@media (min-width: 770px) {
  .page-header__lead b:nth-child(2) {
    font-size: 157px;
    line-height: 157px;
    letter-spacing: 4.27px;
  }
}
@media (min-width: 1170px) {
  .page-header__lead b:nth-child(2) {
    font-size: 183px;
    line-height: 152px;
    letter-spacing: 4.27px;
  }
}
@media (min-width: 1170px) {
  .page-header__button-down {
    margin-right: auto;
  }
}
@media (min-width: 770px) {
  .preparation-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 1170px) {
  .preparation-wrapper {
    padding: 0;
  }
}
.project-details {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.35px;
  color: white;
  text-decoration: none;
  margin-bottom: 45px;
  border-bottom: 1px solid white;
  opacity: 0.5;
}
.project-details:hover,
.project-details:focus {
  color: #e12457;
  border-bottom: 1px solid #e12457;
  opacity: 1;
}
.project-details:active {
  color: rgba(225, 36, 87, 0.7);
  border-bottom: 1px solid rgba(225, 36, 87, 0.7);
  opacity: 1;
}
@media (min-width: 770px) {
  .project-details {
    margin: 0;
  }
}
@media (min-width: 1170px) {
  .project-details {
    margin: 0 auto;
  }
}
.project-realization {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 96px;
}
@media (min-width: 770px) {
  .project-realization {
    padding-bottom: 86px;
  }
}
@media (min-width: 1170px) {
  .project-realization {
    padding-bottom: 165px;
  }
}
.project-realization__header {
  padding-left: 15px;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  color: #e12457;
  margin: 0;
  margin-bottom: 22px;
}
@media (min-width: 770px) {
  .project-realization__header {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1170px) {
  .project-realization__header {
    font-size: 60px;
    line-height: 64px;
    margin-bottom: 46px;
  }
}
@media (min-width: 770px) {
  .project-realization__header {
    padding-left: 24px;
  }
}
@media (min-width: 1170px) {
  .project-realization__header {
    padding-left: 0;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.site-page {
  min-width: 320px;
  font-family: "Arial", sans-serif;
  background-image: url("../img/pattern-bg.jpg");
}
.site-navigation {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  margin: 0;
  -webkit-animation-name: move-navigation;
          animation-name: move-navigation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@media (min-width: 770px) {
  .site-navigation {
    width: 400px;
    position: absolute;
    top: 100px;
    right: 20px;
    margin-left: auto;
  }
}
@media (min-width: 1170px) {
  .site-navigation {
    right: 0;
  }
}
@-webkit-keyframes move-navigation {
  0% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes move-navigation {
  0% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.site-navigation__item a {
  display: block;
  min-height: 40px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-top: 12px;
  border: 1px solid grey;
  border-bottom: 1px solid #e2d8d8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.site-navigation__item a:hover,
.site-navigation__item a:focus {
  font-size: 18px;
  -webkit-box-shadow: 0 0 8px 0 white;
          box-shadow: 0 0 8px 0 white;
}
.site-navigation__item a:active {
  font-size: 12px;
  -webkit-box-shadow: 0 0 8px 0 #93e0b6;
          box-shadow: 0 0 8px 0 #93e0b6;
}
.main-navigation--closed .site-navigation {
  display: none;
}
.social-list {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 30px;
}
@media (min-width: 770px) {
  .social-list {
    margin: 0;
  }
}
@media (min-width: 1170px) {
  .social-list {
    margin-left: 30px;
  }
}
.social-list__item a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.social-list__item a:hover,
.social-list__item a:focus {
  opacity: 0.8;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.social-list__item a:active {
  opacity: 0.8;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-list__item:last-child svg {
  padding-top: 5px;
}
.subscribe-form {
  margin-bottom: 55px;
  padding-top: 54px;
  padding-bottom: 66px;
  background-color: #41295f;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (min-width: 770px) {
  .subscribe-form {
    width: 344px;
    margin-bottom: 90px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (min-width: 1170px) {
  .subscribe-form {
    width: 393px;
    padding-top: 64px;
    padding-bottom: 75px;
  }
}
.no-webp .subscribe-form {
  background-image: url("../img/base-photo.jpg");
}
@media (min-width: 1170px) {
  .no-webp .subscribe-form {
    background-image: url("../img/base-photo-desktop.jpg");
  }
}
.webp .subscribe-form {
  background-image: url("../img/base-photo.webp");
}
@media (min-width: 1170px) {
  .webp .subscribe-form {
    background-image: url("../img/base-photo-desktop.webp");
  }
}
.subscribe-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe-form__header {
  font-size: 23px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
.subscribe-form input {
  width: 250px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: white;
  margin-bottom: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 9px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
}
::-webkit-input-placeholder {
  /* Chrome */
  color: white;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
  opacity: 1;
}
:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}
.subscribe-form button {
  vertical-align: baseline;
  margin-top: 26px;
  padding-top: 0;
  border: none;
  -webkit-box-shadow: 0 0 37px rgba(255, 255, 255, 0.78);
          box-shadow: 0 0 37px rgba(255, 255, 255, 0.78);
}
.video {
  width: 214px;
  height: 139px;
  position: relative;
  margin-bottom: 81px;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-shadow: 0 25px 38px rgba(0, 0, 0, 0.48);
          box-shadow: 0 25px 38px rgba(0, 0, 0, 0.48);
  background-color: #1c256d;
  opacity: 0.7;
}
@media (min-width: 770px) {
  .video {
    width: 517px;
    height: 260px;
    margin-bottom: 57px;
  }
}
@media (min-width: 1170px) {
  .video {
    width: 582px;
    height: 292px;
    margin-bottom: 24px;
  }
}
.no-webp .video {
  background-image: url("../img/panorama-olimp.png");
}
@media (min-width: 770px) {
  .no-webp .video {
    background-image: url("../img/panorama-olimp-tablet.png");
  }
}
@media (min-width: 1170px) {
  .no-webp .video {
    background-image: url("../img/panorama-olimp-desktop.png");
  }
}
.webp .video {
  background-image: url("../img/panorama-olimp.webp");
}
@media (min-width: 770px) {
  .webp .video {
    background-image: url("../img/panorama-olimp-tablet.webp");
  }
}
@media (min-width: 1170px) {
  .webp .video {
    background-image: url("../img/panorama-olimp-desktop.webp");
  }
}
.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -26px;
  margin-top: -26px;
}
@media (min-width: 770px) {
  .video__button {
    left: 166px;
    margin-left: 0;
  }
}
@media (min-width: 1170px) {
  .video__button {
    left: 198px;
  }
}
.video__description {
  width: 115px;
  position: absolute;
  top: 132px;
  left: 91px;
  font-size: 14px;
  font-weight: 300;
  color: #ffcfdf;
  margin: 0;
}
@media (min-width: 770px) {
  .video__description {
    top: 229px;
    left: 369px;
  }
}
@media (min-width: 1170px) {
  .video__description {
    top: 112px;
    left: 645px;
  }
  .video__description::before {
    width: 118px;
    height: 1px;
    content: "";
    position: absolute;
    top: 50%;
    left: -142px;
    background-color: #ff9ebd;
  }
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
/*stylelint-disable*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
